{
    "openapi": "3.0.0",
    "info": {
    "title": "Xano Metadata API (beta)",
    "description": "The <a href=\"https://docs.xano.com/metadata-api\" target=\"_blank\">Metadata API</a>\nis currently in <strong>beta</strong> and is the next\n  evolution of the Developer API. It provides support\nto programatically manage your Xano instance and uses Access Tokens to\ncontrol access.",
    "version": "0.0.1"
    },
    "servers": [
    {
    "url": "https://x6if-wu0q-dtak.n7.xano.io/api:meta"
    }
    ],
    "components": {
    "securitySchemes": {
    "bearerAuth": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT"
    }
    },
    "schemas": {}
    },
    "paths": {
    "/auth/me": {
    "get": {
    "summary": "Validate the Access Token and identify the account details.",
    "description": "Validate the Access Token and identify the account details.\n<br /><br />\n<b>Authentication:</b> required",
    "tags": [
    "authentication"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "id": {
    "type": "string"
    },
    "name": {
    "type": "string"
    },
    "email": {
    "type": "string"
    },
    "extras": {
    "type": "string"
    }
    }
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    }
    }
    },
    "/workspace/{workspace_id}/apigroup/{apigroup_id}/api/{api_id}/security": {
    "put": {
    "summary": "update workspace api security settings",
    "description": "update workspace api security settings\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nWorkspace Api: Update",
    "tags": [
    "api group / api"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "apigroup_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "api_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {}
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    },
    "requestBody": {
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "guid": {
    "type": "string",
    "description": ""
    }
    },
    "required": [
    "guid"
    ]
    }
    },
    "multipart/form-data": {
    "schema": {
    "type": "object",
    "properties": {
    "guid": {
    "type": "string",
    "description": ""
    }
    },
    "required": [
    "guid"
    ]
    }
    }
    }
    }
    }
    },
    "/workspace/{workspace_id}/apigroup/{apigroup_id}/api/{api_id}": {
    "delete": {
    "summary": "delete workspace API",
    "description": "delete workspace API\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nWorkspace Api: Delete",
    "tags": [
    "api group / api"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "apigroup_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "api_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {}
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    }
    },
    "get": {
    "summary": "get workspace API",
    "description": "get workspace API\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nWorkspace Api: Read",
    "tags": [
    "api group / api"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "apigroup_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "api_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 1
    },
    "created_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "updated_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "name": {
    "type": "string",
    "description": "",
    "default": "API Test"
    },
    "description": {
    "type": "string",
    "description": "",
    "default": "My APIs description"
    },
    "docs": {
    "type": "string",
    "description": "",
    "default": "Documentation"
    },
    "guid": {
    "type": "string",
    "description": "",
    "default": "YE1fwVhQ-enRlc6Sb42Gqru58-0"
    },
    "cache": {
    "type": "object",
    "properties": {
    "active": {
    "type": "boolean",
    "description": ""
    },
    "ttl": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 3600
    },
    "input": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "auth": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "datasource": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "ip": {
    "type": "boolean",
    "description": ""
    },
    "headers": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "default": [
    ""
    ]
    },
    "env": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    }
    }
    }
    },
    "auth": {
    "type": "object",
    "description": ""
    },
    "verb": {
    "type": "string",
    "description": "",
    "enum": [
    "GET",
    "POST",
    "DELETE",
    "PUT",
    "PATCH",
    "HEAD"
    ],
    "default": "GET"
    },
    "input": {
    "type": "array",
    "items": {
    "type": "object",
    "description": ""
    },
    "default": [
    ""
    ]
    },
    "tag": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "default": [
    ""
    ]
    }
    }
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    }
    },
    "put": {
    "summary": "update workspace api",
    "description": "update workspace api\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nWorkspace Api: Update",
    "tags": [
    "api group / api"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "apigroup_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "api_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {}
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    },
    "requestBody": {
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "name": {
    "type": "string",
    "description": ""
    },
    "description": {
    "type": "string",
    "description": ""
    },
    "docs": {
    "type": "string",
    "description": ""
    },
    "verb": {
    "type": "string",
    "description": "",
    "enum": [
    "GET",
    "POST",
    "DELETE",
    "PUT",
    "PATCH",
    "HEAD"
    ]
    },
    "auth": {
    "type": "object",
    "description": ""
    },
    "tag": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "nullable": true
    },
    "cache": {
    "type": "object",
    "properties": {
    "active": {
    "type": "boolean",
    "description": ""
    },
    "ttl": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 3600
    },
    "input": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "auth": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "datasource": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "ip": {
    "type": "boolean",
    "description": ""
    },
    "headers": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    }
    },
    "env": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    }
    }
    }
    }
    },
    "required": [
    "name",
    "description",
    "verb"
    ]
    }
    },
    "multipart/form-data": {
    "schema": {
    "type": "object",
    "properties": {
    "name": {
    "type": "string",
    "description": ""
    },
    "description": {
    "type": "string",
    "description": ""
    },
    "docs": {
    "type": "string",
    "description": ""
    },
    "verb": {
    "type": "string",
    "description": "",
    "enum": [
    "GET",
    "POST",
    "DELETE",
    "PUT",
    "PATCH",
    "HEAD"
    ]
    },
    "auth": {
    "type": "object",
    "description": ""
    },
    "tag": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "nullable": true
    },
    "cache": {
    "type": "object",
    "properties": {
    "active": {
    "type": "boolean",
    "description": ""
    },
    "ttl": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 3600
    },
    "input": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "auth": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "datasource": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "ip": {
    "type": "boolean",
    "description": ""
    },
    "headers": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    }
    },
    "env": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    }
    }
    }
    }
    },
    "required": [
    "name",
    "description",
    "verb"
    ]
    }
    }
    }
    }
    }
    },
    "/workspace/{workspace_id}/apigroup/{apigroup_id}/api": {
    "get": {
    "summary": "browse API's in an API group",
    "description": "browse API's in an API group\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nWorkspace Api: Read",
    "tags": [
    "api group / api"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "apigroup_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "page",
    "in": "query",
    "description": "",
    "required": false,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "per_page",
    "in": "query",
    "description": "",
    "required": false,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "search",
    "in": "query",
    "description": "",
    "required": false,
    "schema": {
    "type": "string"
    }
    },
    {
    "name": "sort",
    "in": "query",
    "description": "",
    "required": false,
    "schema": {
    "type": "string",
    "enum": [
    "created_at",
    "updated_at",
    "name"
    ]
    }
    },
    {
    "name": "order",
    "in": "query",
    "description": "",
    "required": false,
    "schema": {
    "type": "string",
    "enum": [
    "asc",
    "desc"
    ]
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "curPage": {
    "type": "integer",
    "format": "int64",
    "description": ""
    },
    "nextPage": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "nullable": true
    },
    "prevPage": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "nullable": true
    },
    "items": {
    "type": "array",
    "items": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 1
    },
    "created_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "updated_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "name": {
    "type": "string",
    "description": "",
    "default": "API Test"
    },
    "description": {
    "type": "string",
    "description": "",
    "default": "My APIs description"
    },
    "docs": {
    "type": "string",
    "description": "",
    "default": "Documentation"
    },
    "guid": {
    "type": "string",
    "description": "",
    "default": "YE1fwVhQ-enRlc6Sb42Gqru58-0"
    },
    "cache": {
    "type": "object",
    "properties": {
    "active": {
    "type": "boolean",
    "description": ""
    },
    "ttl": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 3600
    },
    "input": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "auth": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "datasource": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "ip": {
    "type": "boolean",
    "description": ""
    },
    "headers": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "default": [
    ""
    ]
    },
    "env": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    }
    }
    }
    },
    "auth": {
    "type": "object",
    "description": ""
    },
    "verb": {
    "type": "string",
    "description": "",
    "enum": [
    "GET",
    "POST",
    "DELETE",
    "PUT",
    "PATCH",
    "HEAD"
    ],
    "default": "GET"
    },
    "input": {
    "type": "array",
    "items": {
    "type": "object",
    "description": ""
    },
    "default": [
    ""
    ]
    },
    "tag": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "default": [
    ""
    ]
    }
    }
    }
    }
    }
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    }
    },
    "post": {
    "summary": "add workspace API",
    "description": "add workspace API\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nWorkspace Api: Create",
    "tags": [
    "api group / api"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "apigroup_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 1
    },
    "created_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "updated_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "name": {
    "type": "string",
    "description": "",
    "default": "API Test"
    },
    "description": {
    "type": "string",
    "description": "",
    "default": "My APIs description"
    },
    "docs": {
    "type": "string",
    "description": "",
    "default": "Documentation"
    },
    "guid": {
    "type": "string",
    "description": "",
    "default": "YE1fwVhQ-enRlc6Sb42Gqru58-0"
    },
    "cache": {
    "type": "object",
    "properties": {
    "active": {
    "type": "boolean",
    "description": ""
    },
    "ttl": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 3600
    },
    "input": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "auth": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "datasource": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "ip": {
    "type": "boolean",
    "description": ""
    },
    "headers": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "default": [
    ""
    ]
    },
    "env": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    }
    }
    }
    },
    "auth": {
    "type": "object",
    "description": ""
    },
    "verb": {
    "type": "string",
    "description": "",
    "enum": [
    "GET",
    "POST",
    "DELETE",
    "PUT",
    "PATCH",
    "HEAD"
    ],
    "default": "GET"
    },
    "input": {
    "type": "array",
    "items": {
    "type": "object",
    "description": ""
    },
    "default": [
    ""
    ]
    },
    "tag": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "default": [
    ""
    ]
    }
    }
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    },
    "requestBody": {
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "name": {
    "type": "string",
    "description": ""
    },
    "description": {
    "type": "string",
    "description": ""
    },
    "docs": {
    "type": "string",
    "description": ""
    },
    "verb": {
    "type": "string",
    "description": "",
    "enum": [
    "GET",
    "POST",
    "DELETE",
    "PUT",
    "PATCH",
    "HEAD"
    ]
    },
    "tag": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "nullable": true
    }
    },
    "required": [
    "name",
    "description",
    "verb"
    ]
    }
    },
    "multipart/form-data": {
    "schema": {
    "type": "object",
    "properties": {
    "name": {
    "type": "string",
    "description": ""
    },
    "description": {
    "type": "string",
    "description": ""
    },
    "docs": {
    "type": "string",
    "description": ""
    },
    "verb": {
    "type": "string",
    "description": "",
    "enum": [
    "GET",
    "POST",
    "DELETE",
    "PUT",
    "PATCH",
    "HEAD"
    ]
    },
    "tag": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "nullable": true
    }
    },
    "required": [
    "name",
    "description",
    "verb"
    ]
    }
    }
    }
    }
    }
    },
    "/workspace/{workspace_id}/apigroup/{apigroup_id}/security": {
    "put": {
    "summary": "update workspace API group security settings",
    "description": "update workspace API group security settings\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nWorkspace Api: Update",
    "tags": [
    "api group"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "apigroup_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 1
    },
    "created_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "updated_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "name": {
    "type": "string",
    "description": "",
    "default": "API Group Test"
    },
    "description": {
    "type": "string",
    "description": "",
    "default": "My API groups description"
    },
    "docs": {
    "type": "string",
    "description": "",
    "default": "Documentation"
    },
    "guid": {
    "type": "string",
    "description": "",
    "default": "YE1fwVhQ-enRlc6Sb42Gqru58-0"
    },
    "canonical": {
    "type": "string",
    "description": "",
    "default": "FRzyRdY0"
    },
    "branch": {
    "type": "string",
    "description": "",
    "default": "v1"
    },
    "tag": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "default": [
    ""
    ]
    }
    }
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    },
    "requestBody": {
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "guid": {
    "type": "string",
    "description": ""
    },
    "canonical": {
    "type": "string",
    "description": ""
    }
    },
    "required": [
    "guid",
    "canonical"
    ]
    }
    },
    "multipart/form-data": {
    "schema": {
    "type": "object",
    "properties": {
    "guid": {
    "type": "string",
    "description": ""
    },
    "canonical": {
    "type": "string",
    "description": ""
    }
    },
    "required": [
    "guid",
    "canonical"
    ]
    }
    }
    }
    }
    }
    },
    "/workspace/{workspace_id}/apigroup/{apigroup_id}": {
    "delete": {
    "summary": "delete workspace API group",
    "description": "delete workspace API group\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nWorkspace Api: Delete",
    "tags": [
    "api group"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "apigroup_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {}
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    }
    },
    "get": {
    "summary": "get workspace API group",
    "description": "get workspace API group\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nWorkspace Api: Read",
    "tags": [
    "api group"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "apigroup_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 1
    },
    "created_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "updated_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "name": {
    "type": "string",
    "description": "",
    "default": "API Group Test"
    },
    "description": {
    "type": "string",
    "description": "",
    "default": "My API groups description"
    },
    "docs": {
    "type": "string",
    "description": "",
    "default": "Documentation"
    },
    "guid": {
    "type": "string",
    "description": "",
    "default": "YE1fwVhQ-enRlc6Sb42Gqru58-0"
    },
    "canonical": {
    "type": "string",
    "description": "",
    "default": "FRzyRdY0"
    },
    "branch": {
    "type": "string",
    "description": "",
    "default": "v1"
    },
    "tag": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "default": [
    ""
    ]
    }
    }
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    }
    },
    "put": {
    "summary": "update workspace API group",
    "description": "update workspace API group\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nWorkspace Api: Update",
    "tags": [
    "api group"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "apigroup_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 1
    },
    "created_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "updated_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "name": {
    "type": "string",
    "description": "",
    "default": "API Group Test"
    },
    "description": {
    "type": "string",
    "description": "",
    "default": "My API groups description"
    },
    "docs": {
    "type": "string",
    "description": "",
    "default": "Documentation"
    },
    "guid": {
    "type": "string",
    "description": "",
    "default": "YE1fwVhQ-enRlc6Sb42Gqru58-0"
    },
    "canonical": {
    "type": "string",
    "description": "",
    "default": "FRzyRdY0"
    },
    "branch": {
    "type": "string",
    "description": "",
    "default": "v1"
    },
    "tag": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "default": [
    ""
    ]
    }
    }
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    },
    "requestBody": {
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "name": {
    "type": "string",
    "description": ""
    },
    "description": {
    "type": "string",
    "description": ""
    },
    "docs": {
    "type": "string",
    "description": ""
    },
    "swagger": {
    "type": "boolean",
    "description": ""
    },
    "tag": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "nullable": true
    }
    },
    "required": [
    "name",
    "description",
    "swagger"
    ]
    }
    },
    "multipart/form-data": {
    "schema": {
    "type": "object",
    "properties": {
    "name": {
    "type": "string",
    "description": ""
    },
    "description": {
    "type": "string",
    "description": ""
    },
    "docs": {
    "type": "string",
    "description": ""
    },
    "swagger": {
    "type": "boolean",
    "description": ""
    },
    "tag": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "nullable": true
    }
    },
    "required": [
    "name",
    "description",
    "swagger"
    ]
    }
    }
    }
    }
    }
    },
    "/workspace/{workspace_id}/apigroup": {
    "get": {
    "summary": "browse workspace API groups",
    "description": "browse workspace API groups\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nWorkspace Api: Read",
    "tags": [
    "api group"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "branch",
    "in": "query",
    "description": "",
    "required": false,
    "schema": {
    "type": "string"
    }
    },
    {
    "name": "page",
    "in": "query",
    "description": "",
    "required": false,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "per_page",
    "in": "query",
    "description": "",
    "required": false,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "search",
    "in": "query",
    "description": "",
    "required": false,
    "schema": {
    "type": "string"
    }
    },
    {
    "name": "sort",
    "in": "query",
    "description": "",
    "required": false,
    "schema": {
    "type": "string",
    "enum": [
    "created_at",
    "updated_at",
    "name"
    ]
    }
    },
    {
    "name": "order",
    "in": "query",
    "description": "",
    "required": false,
    "schema": {
    "type": "string",
    "enum": [
    "asc",
    "desc"
    ]
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "curPage": {
    "type": "integer",
    "format": "int64",
    "description": ""
    },
    "nextPage": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "nullable": true
    },
    "prevPage": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "nullable": true
    },
    "items": {
    "type": "array",
    "items": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 1
    },
    "created_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "updated_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "name": {
    "type": "string",
    "description": "",
    "default": "API Group Test"
    },
    "description": {
    "type": "string",
    "description": "",
    "default": "My API groups description"
    },
    "docs": {
    "type": "string",
    "description": "",
    "default": "Documentation"
    },
    "guid": {
    "type": "string",
    "description": "",
    "default": "YE1fwVhQ-enRlc6Sb42Gqru58-0"
    },
    "canonical": {
    "type": "string",
    "description": "",
    "default": "FRzyRdY0"
    },
    "branch": {
    "type": "string",
    "description": "",
    "default": "v1"
    },
    "tag": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "default": [
    ""
    ]
    }
    }
    }
    }
    }
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    }
    },
    "post": {
    "summary": "add workspace API group",
    "description": "add workspace API group\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nWorkspace Api: Create",
    "tags": [
    "api group"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 1
    },
    "created_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "updated_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "name": {
    "type": "string",
    "description": "",
    "default": "API Group Test"
    },
    "description": {
    "type": "string",
    "description": "",
    "default": "My API groups description"
    },
    "docs": {
    "type": "string",
    "description": "",
    "default": "Documentation"
    },
    "guid": {
    "type": "string",
    "description": "",
    "default": "YE1fwVhQ-enRlc6Sb42Gqru58-0"
    },
    "canonical": {
    "type": "string",
    "description": "",
    "default": "FRzyRdY0"
    },
    "branch": {
    "type": "string",
    "description": "",
    "default": "v1"
    },
    "tag": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "default": [
    ""
    ]
    }
    }
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    },
    "requestBody": {
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "branch": {
    "type": "string",
    "description": ""
    },
    "name": {
    "type": "string",
    "description": ""
    },
    "description": {
    "type": "string",
    "description": ""
    },
    "docs": {
    "type": "string",
    "description": ""
    },
    "swagger": {
    "type": "boolean",
    "description": ""
    },
    "tag": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "nullable": true
    }
    },
    "required": [
    "name",
    "description",
    "swagger"
    ]
    }
    },
    "multipart/form-data": {
    "schema": {
    "type": "object",
    "properties": {
    "branch": {
    "type": "string",
    "description": ""
    },
    "name": {
    "type": "string",
    "description": ""
    },
    "description": {
    "type": "string",
    "description": ""
    },
    "docs": {
    "type": "string",
    "description": ""
    },
    "swagger": {
    "type": "boolean",
    "description": ""
    },
    "tag": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "nullable": true
    }
    },
    "required": [
    "name",
    "description",
    "swagger"
    ]
    }
    }
    }
    }
    }
    },
    "/workspace/{workspace_id}/branch/{branch_label}": {
    "delete": {
    "summary": "delete a workspace branch",
    "description": "delete a workspace branch\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nInstance Workspace: Update",
    "tags": [
    "workspace / branch"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "branch_label",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "string"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {}
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    }
    }
    },
    "/workspace/{workspace_id}/branch": {
    "get": {
    "summary": "browse workspace branches",
    "description": "browse workspace branches\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nInstance Workspace: Read",
    "tags": [
    "workspace / branch"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "array",
    "items": {
    "type": "object",
    "properties": {
    "created_at": {
    "type": "string",
    "description": "",
    "default": "2023-06-22 22:59:11+0000"
    },
    "label": {
    "type": "string",
    "description": "",
    "default": "v1"
    },
    "live": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "backup": {
    "type": "boolean",
    "description": "",
    "default": "false"
    }
    }
    }
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    }
    }
    },
    "/workspace/{workspace_id}/datasource/{label}": {
    "delete": {
    "summary": "delete workspace data source",
    "description": "delete workspace data source\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nInstance Workspace: Delete",
    "tags": [
    "workspace / datasource"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "label",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "string"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {}
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    }
    },
    "put": {
    "summary": "update workspace data source",
    "description": "update workspace data source\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nInstance Workspace: Update",
    "tags": [
    "workspace / datasource"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "label",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "string"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "color": {
    "type": "string",
    "description": "",
    "default": "#008000"
    },
    "label": {
    "type": "string",
    "description": "",
    "default": "live"
    }
    }
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    },
    "requestBody": {
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "color": {
    "type": "string",
    "description": "",
    "default": "#ebc346"
    }
    }
    }
    },
    "multipart/form-data": {
    "schema": {
    "type": "object",
    "properties": {
    "color": {
    "type": "string",
    "description": "",
    "default": "#ebc346"
    }
    }
    }
    }
    }
    }
    }
    },
    "/workspace/{workspace_id}/datasource": {
    "get": {
    "summary": "browse workspace data sources",
    "description": "browse workspace data sources\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nInstance Workspace: Read",
    "tags": [
    "workspace / datasource"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "array",
    "items": {
    "type": "object",
    "properties": {
    "color": {
    "type": "string",
    "description": "",
    "default": "#008000"
    },
    "label": {
    "type": "string",
    "description": "",
    "default": "live"
    }
    }
    }
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    }
    },
    "post": {
    "summary": "create workspace data source",
    "description": "create workspace data source\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nInstance Workspace: Create",
    "tags": [
    "workspace / datasource"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "color": {
    "type": "string",
    "description": "",
    "default": "#008000"
    },
    "label": {
    "type": "string",
    "description": "",
    "default": "live"
    }
    }
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    },
    "requestBody": {
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "label": {
    "type": "string",
    "description": ""
    },
    "color": {
    "type": "string",
    "description": "",
    "default": "#ebc346"
    }
    },
    "required": [
    "label"
    ]
    }
    },
    "multipart/form-data": {
    "schema": {
    "type": "object",
    "properties": {
    "label": {
    "type": "string",
    "description": ""
    },
    "color": {
    "type": "string",
    "description": "",
    "default": "#ebc346"
    }
    },
    "required": [
    "label"
    ]
    }
    }
    }
    }
    }
    },
    "/workspace/{workspace_id}/export-schema": {
    "post": {
    "summary": "export the database table + branch schema",
    "description": "Leave the `branch` parameter empty to indicate the current live branch. `password` is optional. If provided, will encrypt the export and will be required when importing the file.\n<br /><br />\n<b>Required API Scope:</b>\nInstance Workspace: Read",
    "tags": [
    "workspace"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {}
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    },
    "requestBody": {
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "password": {
    "type": "string",
    "description": ""
    },
    "branch": {
    "type": "string",
    "description": ""
    }
    },
    "example": {
    "branch": "",
    "password": ""
    }
    }
    },
    "multipart/form-data": {
    "schema": {
    "type": "object",
    "properties": {
    "password": {
    "type": "string",
    "description": ""
    },
    "branch": {
    "type": "string",
    "description": ""
    }
    },
    "example": {
    "branch": "",
    "password": ""
    }
    }
    }
    }
    }
    }
    },
    "/workspace/{workspace_id}/export": {
    "post": {
    "summary": "export the workspace and content",
    "description": "Leave the `branch` parameter empty to indicate the current live branch. `password` is optional. If provided, will encrypt the export and will be required when importing the file.\n<br /><br />\n<b>Required API Scope:</b>\nInstance Workspace: Read",
    "tags": [
    "workspace"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {}
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    },
    "requestBody": {
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "password": {
    "type": "string",
    "description": ""
    },
    "branch": {
    "type": "string",
    "description": ""
    }
    },
    "example": {
    "branch": "",
    "password": ""
    }
    }
    },
    "multipart/form-data": {
    "schema": {
    "type": "object",
    "properties": {
    "password": {
    "type": "string",
    "description": ""
    },
    "branch": {
    "type": "string",
    "description": ""
    }
    },
    "example": {
    "branch": "",
    "password": ""
    }
    }
    }
    }
    }
    }
    },
    "/workspace/{workspace_id}/file/bulk_delete": {
    "delete": {
    "summary": "bulk delete files within workspace",
    "description": "bulk delete files within workspace\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nWorkspace File: Delete",
    "tags": [
    "file"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "nullable": true,
    "default": null
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    },
    "requestBody": {
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "ids": {
    "type": "array",
    "items": {
    "type": "integer",
    "format": "int64",
    "description": ""
    }
    }
    },
    "required": [
    "ids"
    ]
    }
    },
    "multipart/form-data": {
    "schema": {
    "type": "object",
    "properties": {
    "ids": {
    "type": "array",
    "items": {
    "type": "integer",
    "format": "int64",
    "description": ""
    }
    }
    },
    "required": [
    "ids"
    ]
    }
    }
    }
    }
    }
    },
    "/workspace/{workspace_id}/file/{file_id}": {
    "delete": {
    "summary": "delete file within workspace",
    "description": "delete file within workspace\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nWorkspace File: Delete",
    "tags": [
    "file"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "file_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "nullable": true,
    "default": null
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    }
    }
    },
    "/workspace/{workspace_id}/file": {
    "get": {
    "summary": "list files within workspace",
    "description": "list files within workspace\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nWorkspace File: Read",
    "tags": [
    "file"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "page",
    "in": "query",
    "description": "",
    "required": false,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "per_page",
    "in": "query",
    "description": "",
    "required": false,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "search",
    "in": "query",
    "description": "",
    "required": false,
    "schema": {
    "type": "string"
    }
    },
    {
    "name": "access",
    "in": "query",
    "description": "",
    "required": false,
    "schema": {
    "type": "string",
    "enum": [
    "public",
    "private"
    ]
    }
    },
    {
    "name": "sort",
    "in": "query",
    "description": "",
    "required": false,
    "schema": {
    "type": "string",
    "enum": [
    "created_at",
    "name",
    "size",
    "mime"
    ]
    }
    },
    {
    "name": "order",
    "in": "query",
    "description": "",
    "required": false,
    "schema": {
    "type": "string",
    "enum": [
    "asc",
    "desc"
    ]
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "curPage": {
    "type": "integer",
    "format": "int64",
    "description": ""
    },
    "nextPage": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "nullable": true
    },
    "prevPage": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "nullable": true
    },
    "items": {
    "type": "array",
    "items": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 10095
    },
    "created_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "name": {
    "type": "string",
    "description": "",
    "default": "file_example_MP3_1MG.mp3"
    },
    "size": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 1087849
    },
    "type": {
    "type": "string",
    "description": "",
    "default": "audio"
    },
    "mime": {
    "type": "string",
    "description": "",
    "default": "audio/mpeg"
    },
    "access": {
    "type": "string",
    "description": "",
    "default": "public"
    },
    "path": {
    "type": "string",
    "description": "",
    "default": "/vault/Ramtdv50/3TA6XKsmLe-2BigGnwxSb0v00sI/qSWtbg../file_example_MP3_1MG.mp3"
    }
    }
    }
    }
    }
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    }
    },
    "post": {
    "summary": "upload file to workspace",
    "description": "upload file to workspace\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nWorkspace File: Create",
    "tags": [
    "file"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 10095
    },
    "created_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "name": {
    "type": "string",
    "description": "",
    "default": "file_example_MP3_1MG.mp3"
    },
    "size": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 1087849
    },
    "type": {
    "type": "string",
    "description": "",
    "default": "audio"
    },
    "mime": {
    "type": "string",
    "description": "",
    "default": "audio/mpeg"
    },
    "access": {
    "type": "string",
    "description": "",
    "default": "public"
    },
    "path": {
    "type": "string",
    "description": "",
    "default": "/vault/Ramtdv50/3TA6XKsmLe-2BigGnwxSb0v00sI/qSWtbg../file_example_MP3_1MG.mp3"
    }
    }
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    },
    "requestBody": {
    "content": {
    "multipart/form-data": {
    "schema": {
    "type": "object",
    "properties": {
    "content": {
    "type": "string",
    "format": "binary",
    "description": ""
    },
    "type": {
    "type": "string",
    "description": "",
    "enum": [
    "image",
    "video",
    "audio"
    ]
    },
    "access": {
    "type": "string",
    "description": "",
    "enum": [
    "public",
    "private"
    ],
    "default": "public"
    }
    },
    "required": [
    "content"
    ]
    }
    }
    }
    }
    }
    },
    "/workspace/{workspace_id}/function/{function_id}/security": {
    "put": {
    "summary": "update workspace function security settings",
    "description": "update workspace function security settings\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nWorkspace Function: Update",
    "tags": [
    "function"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "function_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 1
    },
    "created_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "updated_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "name": {
    "type": "string",
    "description": "",
    "default": "Function Test"
    },
    "description": {
    "type": "string",
    "description": "",
    "default": "My functions description"
    },
    "docs": {
    "type": "string",
    "description": "",
    "default": "Documentation"
    },
    "guid": {
    "type": "string",
    "description": "",
    "default": "YE1fwVhQ-enRlc6Sb42Gqru58-0"
    },
    "branch": {
    "type": "string",
    "description": "",
    "default": "v1"
    },
    "cache": {
    "type": "object",
    "properties": {
    "active": {
    "type": "boolean",
    "description": ""
    },
    "ttl": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 3600
    },
    "input": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "auth": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "datasource": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "ip": {
    "type": "boolean",
    "description": ""
    },
    "headers": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "default": [
    ""
    ]
    },
    "env": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "default": [
    ""
    ]
    }
    }
    }
    }
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    },
    "requestBody": {
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "guid": {
    "type": "string",
    "description": ""
    }
    },
    "required": [
    "guid"
    ]
    }
    },
    "multipart/form-data": {
    "schema": {
    "type": "object",
    "properties": {
    "guid": {
    "type": "string",
    "description": ""
    }
    },
    "required": [
    "guid"
    ]
    }
    }
    }
    }
    }
    },
    "/workspace/{workspace_id}/function/{function_id}": {
    "delete": {
    "summary": "delete workspace function",
    "description": "delete workspace function\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nWorkspace Function: Delete",
    "tags": [
    "function"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "function_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {}
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    }
    },
    "get": {
    "summary": "get workspace function",
    "description": "get workspace function\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nWorkspace Function: Read",
    "tags": [
    "function"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "function_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 1
    },
    "created_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "updated_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "name": {
    "type": "string",
    "description": "",
    "default": "Function Test"
    },
    "description": {
    "type": "string",
    "description": "",
    "default": "My functions description"
    },
    "docs": {
    "type": "string",
    "description": "",
    "default": "Documentation"
    },
    "guid": {
    "type": "string",
    "description": "",
    "default": "YE1fwVhQ-enRlc6Sb42Gqru58-0"
    },
    "branch": {
    "type": "string",
    "description": "",
    "default": "v1"
    },
    "cache": {
    "type": "object",
    "properties": {
    "active": {
    "type": "boolean",
    "description": ""
    },
    "ttl": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 3600
    },
    "input": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "auth": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "datasource": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "ip": {
    "type": "boolean",
    "description": ""
    },
    "headers": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "default": [
    ""
    ]
    },
    "env": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "default": [
    ""
    ]
    }
    }
    }
    }
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    }
    },
    "put": {
    "summary": "update workspace function",
    "description": "update workspace function\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nWorkspace Function: Update",
    "tags": [
    "function"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "function_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 1
    },
    "created_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "updated_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "name": {
    "type": "string",
    "description": "",
    "default": "Function Test"
    },
    "description": {
    "type": "string",
    "description": "",
    "default": "My functions description"
    },
    "docs": {
    "type": "string",
    "description": "",
    "default": "Documentation"
    },
    "guid": {
    "type": "string",
    "description": "",
    "default": "YE1fwVhQ-enRlc6Sb42Gqru58-0"
    },
    "branch": {
    "type": "string",
    "description": "",
    "default": "v1"
    },
    "cache": {
    "type": "object",
    "properties": {
    "active": {
    "type": "boolean",
    "description": ""
    },
    "ttl": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 3600
    },
    "input": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "auth": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "datasource": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "ip": {
    "type": "boolean",
    "description": ""
    },
    "headers": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "default": [
    ""
    ]
    },
    "env": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "default": [
    ""
    ]
    }
    }
    }
    }
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    },
    "requestBody": {
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "name": {
    "type": "string",
    "description": ""
    },
    "description": {
    "type": "string",
    "description": ""
    },
    "docs": {
    "type": "string",
    "description": ""
    },
    "cache": {
    "type": "object",
    "properties": {
    "active": {
    "type": "boolean",
    "description": ""
    },
    "ttl": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 3600
    },
    "input": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "auth": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "datasource": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "ip": {
    "type": "boolean",
    "description": ""
    },
    "headers": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    }
    },
    "env": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    }
    }
    }
    }
    },
    "required": [
    "name",
    "description"
    ]
    }
    },
    "multipart/form-data": {
    "schema": {
    "type": "object",
    "properties": {
    "name": {
    "type": "string",
    "description": ""
    },
    "description": {
    "type": "string",
    "description": ""
    },
    "docs": {
    "type": "string",
    "description": ""
    },
    "cache": {
    "type": "object",
    "properties": {
    "active": {
    "type": "boolean",
    "description": ""
    },
    "ttl": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 3600
    },
    "input": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "auth": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "datasource": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "ip": {
    "type": "boolean",
    "description": ""
    },
    "headers": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    }
    },
    "env": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    }
    }
    }
    }
    },
    "required": [
    "name",
    "description"
    ]
    }
    }
    }
    }
    }
    },
    "/workspace/{workspace_id}/function": {
    "get": {
    "summary": "browse workspace functions",
    "description": "browse workspace functions\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nWorkspace Function: Read",
    "tags": [
    "function"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "branch",
    "in": "query",
    "description": "",
    "required": false,
    "schema": {
    "type": "string"
    }
    },
    {
    "name": "page",
    "in": "query",
    "description": "",
    "required": false,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "per_page",
    "in": "query",
    "description": "",
    "required": false,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "search",
    "in": "query",
    "description": "",
    "required": false,
    "schema": {
    "type": "string"
    }
    },
    {
    "name": "sort",
    "in": "query",
    "description": "",
    "required": false,
    "schema": {
    "type": "string",
    "enum": [
    "created_at",
    "updated_at",
    "name"
    ]
    }
    },
    {
    "name": "order",
    "in": "query",
    "description": "",
    "required": false,
    "schema": {
    "type": "string",
    "enum": [
    "asc",
    "desc"
    ]
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "curPage": {
    "type": "integer",
    "format": "int64",
    "description": ""
    },
    "nextPage": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "nullable": true
    },
    "prevPage": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "nullable": true
    },
    "items": {
    "type": "array",
    "items": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 1
    },
    "created_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "updated_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "name": {
    "type": "string",
    "description": "",
    "default": "Function Test"
    },
    "description": {
    "type": "string",
    "description": "",
    "default": "My functions description"
    },
    "docs": {
    "type": "string",
    "description": "",
    "default": "Documentation"
    },
    "guid": {
    "type": "string",
    "description": "",
    "default": "YE1fwVhQ-enRlc6Sb42Gqru58-0"
    },
    "branch": {
    "type": "string",
    "description": "",
    "default": "v1"
    },
    "cache": {
    "type": "object",
    "properties": {
    "active": {
    "type": "boolean",
    "description": ""
    },
    "ttl": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 3600
    },
    "input": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "auth": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "datasource": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "ip": {
    "type": "boolean",
    "description": ""
    },
    "headers": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "default": [
    ""
    ]
    },
    "env": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "default": [
    ""
    ]
    }
    }
    }
    }
    }
    }
    }
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    }
    },
    "post": {
    "summary": "add workspace function",
    "description": "add workspace function\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nWorkspace Function: Create",
    "tags": [
    "function"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 1
    },
    "created_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "updated_at": {
    "type": "string",
    "format": "timestamptz",
    "description": "",
    "default": "2023-04-19 21:01:32+0000"
    },
    "name": {
    "type": "string",
    "description": "",
    "default": "Function Test"
    },
    "description": {
    "type": "string",
    "description": "",
    "default": "My functions description"
    },
    "docs": {
    "type": "string",
    "description": "",
    "default": "Documentation"
    },
    "guid": {
    "type": "string",
    "description": "",
    "default": "YE1fwVhQ-enRlc6Sb42Gqru58-0"
    },
    "branch": {
    "type": "string",
    "description": "",
    "default": "v1"
    },
    "cache": {
    "type": "object",
    "properties": {
    "active": {
    "type": "boolean",
    "description": ""
    },
    "ttl": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 3600
    },
    "input": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "auth": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "datasource": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "ip": {
    "type": "boolean",
    "description": ""
    },
    "headers": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "default": [
    ""
    ]
    },
    "env": {
    "type": "array",
    "items": {
    "type": "string",
    "description": ""
    },
    "default": [
    ""
    ]
    }
    }
    }
    }
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    },
    "requestBody": {
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "branch": {
    "type": "string",
    "description": ""
    },
    "description": {
    "type": "string",
    "description": ""
    },
    "docs": {
    "type": "string",
    "description": ""
    },
    "name": {
    "type": "string",
    "description": ""
    }
    },
    "required": [
    "description",
    "name"
    ]
    }
    },
    "multipart/form-data": {
    "schema": {
    "type": "object",
    "properties": {
    "branch": {
    "type": "string",
    "description": ""
    },
    "description": {
    "type": "string",
    "description": ""
    },
    "docs": {
    "type": "string",
    "description": ""
    },
    "name": {
    "type": "string",
    "description": ""
    }
    },
    "required": [
    "description",
    "name"
    ]
    }
    }
    }
    }
    }
    },
    "/workspace/{workspace_id}/import-schema": {
    "post": {
    "summary": "import schema into a new branch and optionally set it live",
    "description": "import schema into a new branch and optionally set it live\n<br /><br />\n<b>Authentication:</b> required\n<br /><br />\n<b>Required API Scope:</b>\nInstance Workspace: Read",
    "tags": [
    "workspace"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {}
    }
    }
    }
    },
    "400": {
    "description": "Input Error. Check the request payload for issues."
    },
    "401": {
    "description": "Unauthorized"
    },
    "403": {
    "description": "Access denied. Additional privileges are needed access the requested resource."
    },
    "404": {
    "description": "Not Found. The requested resource does not exist."
    },
    "429": {
    "description": "Rate Limited. Too many requests."
    },
    "500": {
    "description": "Unexpected error"
    }
    },
    "requestBody": {
    "content": {
    "multipart/form-data": {
    "schema": {
    "type": "object",
    "properties": {
    "file": {
    "type": "string",
    "format": "binary",
    "description": ""
    },
    "newbranch": {
    "type": "string",
    "description": ""
    },
    "setlive": {
    "type": "boolean",
    "description": ""
    },
    "password": {
    "type": "string",
    "description": ""
    }
    },
    "required": [
    "file",
    "newbranch"
    ]
    }
    }
    }
    }
    }
    },
    "/workspace/{workspace_id}/import": {
    "post": {
    "summary": "import the archive into the specified workspace and replace it with supplied content and configuration",
    "description": "If the file is encrypted, the correct `password` is required to decrypt.\n<br /><br />\n<b>Required API Scope:</b>\nInstance Workspace: Update",
    "tags": [
    "workspace"
    ],
    "security": [
    {
    "bearerAuth": []
    }
    ],
    "parameters": [
    {
    "name": "workspace_id",
    "in": "path",
    "description": "",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "Success!",
    "content": {
    "application/json": {
    "schema": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64",
    "description": ""
    },
    "name": {
    "type": "string",
    "description": ""
    },
    "description": {
    "type": "string",
    "description": ""
    },
    "branch": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64",
    "description": ""
    },
    "created_at": {
    "type": "string",
    "format": "timestamptz",
    "description": ""
    },
    "updated_at": {
    "type": "string",
    "format": "timestamptz",
    "description": ""
    },
    "description": {
    "type": "string",
    "description": ""
    },
    "label": {
    "type": "string",
    "description": "",
    "nullable": true
    },
    "backup": {
    "type": "boolean",
    "description": ""
    },
    "color": {
    "type": "string",
    "description": "",
    "default": "#ebc346"
    },
    "parent_id": {
    "type": "integer",
    "format": "int64",
    "description": ""
    },
    "guid": {
    "type": "string",
    "description": ""
    },
    "workspace": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64",
    "description": ""
    }
    }
    },
    "user": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64",
    "description": ""
    },
    "name": {
    "type": "string",
    "description": ""
    },
    "email": {
    "type": "string",
    "description": "",
    "format": "email"
    }
    }
    },
    "history": {
    "type": "object",
    "properties": {
    "function_enabled": {
    "type": "boolean",
    "description": ""
    },
    "function_limit": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 100
    },
    "middleware_enabled": {
    "type": "boolean",
    "description": ""
    },
    "middleware_limit": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 100
    },
    "query_enabled": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "query_limit": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 100
    },
    "trigger_enabled": {
    "type": "boolean",
    "description": ""
    },
    "trigger_limit": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 100
    },
    "task_enabled": {
    "type": "boolean",
    "description": "",
    "default": true
    },
    "task_limit": {
    "type": "integer",
    "format": "int64",
    "description": "",
    "default": 100
    }
    }
    },
    "middleware": {
    "type": "object",
    "properties": {
    "function_pre": {
    "type": "array",
    "items": {
    "type": "object",
    "properties": {
    "name": {
    "type": "string",
    "description": ""
    },
    "as": {
    "type": "string",
    "description": ""
    },
    "context": {
    "type": "object",
    "description": ""
    },
    "description": {
    "type": "string",
    "description": ""
    },
    "disabled": {
    "type": "boolean",
    "description": ""
    },
    "mocks": {
    "type": "object",
    "description": ""
    },
    "_xsid": {
    "type": "string",
    "description": ""
    },
    "input": {
    "type": "array",
    "items": {
    "type": "object",
    "properties": {
    "name": {
    "type": "string",
    "description": ""
    },
    "value": {
    "type": "string",
    "description": ""
    },
    "tag": {
    "type": "string",
    "description": "",
    "enum": [
    "const",
    "const:encoded",
    "const:int",
    "const:decimal",
    "const:bool",
    "const:array",
    "const:epochms",
    "const:obj",
    "const:null",
    "const:expr",
    "const:expr:encoded",
    "input",
    "reg",
    "var",
    "auth",
    "env",
    "setting",
    "col",
    "output",
    "response",
    "trycatch",
    "use_default"
    ],
    "default": "input"
    },
    "ignore": {
    "type": "boolean",
    "description": ""
    },
    "expand": {
    "type": "boolean",
    "description": ""
    },
    "children": {
    "type": "array",
    "items": {
    "type": "object",
    "properties": {
    "name": {
    "type": "string",
    "description": "",
    "required": true
    },
    "value": {
    "type": "string",
    "description": "",
    "required": true
    },
    "tag": {
    "type": "string",
    "description": "",
    "enum": [
    "const",
    "const:encoded",
    "const:int",
    "const:decimal",
    "const:bool",
    "const:array",
    "const:epochms",
    "const:obj",
    "const:null",
    "const:expr",
    "const:expr:encoded",
    "input",
    "reg",
    "var",
    "auth",
    "env",
    "setting",
    "col",
    "output",
    "response",
    "trycatch",
    "use_default"
    ],
    "default": "input"
    },
    "filters": {
    "type": "array",
    "items": {
    "type": "object",
    "properties": {
    "name": {
    "type": "string",
    "description": "",
    "required": true
    },
    "disabled": {
    "type": "boolean",
    "description": ""
    },
    "arg": {
    "type": "array",
    "items": {
    "type": "object",
    "properties": {
    "value": {
    "type": "string",
    "description": "",
    "required": true
    },
    "tag": {
    "type": "string",
    "description": "",
    "enum": [
    "const",
    "const:encoded",
    "const:int",
    "const:decimal",
    "const:bool",
    "const:array",
    "const:epochms",
    "const:obj",
    "const:null",
    "const:expr",
    "const:expr:encoded",
    "input",
    "reg",
    "var",
    "auth",
    "env",
    "setting",
    "col",
    "output",
    "response",
    "trycatch"
    ],
    "default": "input"
    },
    "filters": {
    "type": "array",
    "items": {
    "type": "object",
    "description": ""
    },
    "required": true
    }
    }
    },
    "required": true
    }
    }
    },
    "required": true
    },
    "ignore": {
    "type": "boolean",
    "description": "",
    "required": true
    },
    "expand": {
    "type": "boolean",
    "description": "",
    "required": true
    },
    "children": {
    "type": "array",
    "items": {
    "type": "object",
    "description": ""
    },
    "required": true
    }
    }
    }
    },
    "filters": {
    "type": "array",
    "items": {
    "type": "object",
    "properties": {
    "name": {
    "type": "string",
    "description": ""
    },
    "disabled": {
    "type": "boolean",
    "description": ""
    },
    "arg": {
    "type": "array",
    "items": {
    "type": "object",
    "properties": {
    "value": {
    "type": "string",
    "description": ""
    },
    "tag": {
    "type": "string",
    "description": "",
    "enum": [
    "const",
    "const:encoded",
    "const:int",
    "const:decimal",
    "const:bool",
    "const:array",
    "const:epochms",
    "const:obj",
    "const:null",
    "const:expr",
    "const:expr:encoded",
    "input",
    "reg",
    "var",
    "auth",
    "env",
    "setting",
    "col",
    "output",
    "response",
    "trycatch"
    ],
    "default": "input"
    },
    "filters": {
    "type": "array",
    "items": {
    "type": "object",
    "properties": {
    "name": {
    "type": "string",
    "description": "",
    "required": true
    },
    "disabled": {
    "type": "boolean",
    "description": ""
    },
    "arg": {
    "type": "array",
    "items": {
    "type": "object",
    "properties": {
    "value": {
    "type": "string",
    "description": "",
    "required": true
    },
    "tag": {
    "type": "string",
    "description": "",
    "enum": [
    "const",
    "const:encoded",
    "const:int",
    "const:decimal",
    "const:bool",
    "const:array",
    "const:epochms",
    "const:obj",
    "const:null",
    "const:expr",
    "const:expr:encoded",
    "input",
    "reg",
    "var",
    "auth",
    "env",
    "setting",
    "col",
    "output",
    "response",
    "trycatch"
    ],
    "default": "input"
    },
    "filters": {
    "type": "array",
    "items": {
    "type": "object",
    "description": ""
    },
    "required": true
    }
    }
    },
    "required": true
    }
    }
    }
    }
    }
    }
    }
    }
    }
    }
    }
    }
    },
    "settings_registry": {
    "type": "array",
    "items": {
    "type": "object",
    "properties": {
    "name": {
    "type": "string",
    "description": ""
    },
    "value": {
    "type": "string",
    "description": ""
    },
    "tag": {
    "type": "string",
    "description": "",
    "enum": [
    "const",
    "const:encoded",
    "const:int",
    "const:decimal",
    "const:bool",
    "const:array",
    "const:epochms",
    "const:obj",
    "const:null",
    "const:expr",
    "const:expr:encoded",
    "input",
    "reg",
    "var",
    "auth",
    "env",
    "setting",
    "col",
    "output",
    "response",
    "trycatch",
    "use_default"
    ],
    "default": "input"
    },
    "ignore": {
    "type": "boolean",
    "description": ""
    },
    "expand": {
    "type": "boolean",
    "description": ""
    },
    "children": {
    "type": "array",
    "items": {
    "type": "object",
    "properties": {
    "name": {
    "type": "string",
    "description": "",
    "required": true
    },
    "value": {
    "type": "string",
    "description": "",
    "required": true
    },
    "tag": {
    "type": "string",
    "description": "",
    "enum": [
    "const",
    "const:encoded",
    "const:int",
[...]
